@model IList<ItemResult>

@{
    ViewData["Title"] = "Shop";
}
<nav>
    <div class="nav-left">
        <img class="dragonball" src="https://png.pngtree.com/png-vector/20221208/ourmid/pngtree-4-dragon-ball-icon-vector-drgon-illustrtion-png-image_6515607.png" alt="Spinning Dragon Ball">
    </div>
    <div class="nav-center">
        <ul>
            <li>
                <a asp-controller="Game" asp-action="Index">
                    <img class="nav-img-s" src="images/game.png" alt="game" />
                </a>
            </li>
            <li class="logo-container">
                <img class="logo" src="/images/logo.png" alt="logo">
            </li>
            <li>
                <a asp-controller="Game" asp-action="Leaderboard">
                    <img class="nav-img-l" src="images/leaderboard.png" alt="leaderboard" />
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">
                <img class="nav-img" src="images/logout.png" alt="Logout">
            </button>
        </form>
    </div>
</nav>

<article>

    <section>

        <div>
            <img class="attack-header" src="/images/attack-header.png" alt="attack header"/>
        </div>

        <div>
            @foreach (var item in Model.Where(x => x.Attack != 0))
            {
                <div>
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <p>Price: @item.Price</p>
                    <p>Attack: @item.Attack</p>
                    <div>
                        <form asp-action="Confirm" asp-controller="Shop" method="get">
                            <input type="hidden" name="itemId" value="@item.Id"/>
                            <button type="submit" class="btn btn-danger">Buy</button>
                        </form>
                    </div>
                </div>
            }
        </div>

    </section>
    
    <section>
        
        <div>
            <img class="defense-header" src="/images/defense-header.png" alt="defense header"/>
        </div>
        
        <div>
            @foreach (var item in Model.Where(x => x.Defense != 0))
            {
                <div>
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <p>Price: @item.Price</p>
                    <p>Defense: @item.Defense</p>
                    <div>
                        <form asp-action="Confirm" asp-controller="Shop" method="get">
                            <input type="hidden" name="itemId" value="@item.Id"/>
                            <button type="submit" class="btn btn-danger">Buy</button>
                        </form>
                    </div>
                </div>
            }
        </div>

    </section>

    <section>

        <div>
            <img class="ki-header" src="/images/ki-header.png" alt="ki header"/>
        </div>

        <div>
            @foreach (var item in Model.Where(x => x.Ki != 0))
            {
                <div>
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <p>Price: @item.Price</p>
                    <p>Energy: @item.Ki</p>
                    <p>Cooldown: @item.ActionCooldownSeconds</p>
                    <div>
                        <form asp-action="Confirm" asp-controller="Shop" method="get">
                            <input type="hidden" name="itemId" value="@item.Id"/>
                            <button type="submit" class="btn btn-danger">Buy</button>
                        </form>
                    </div>
                </div>
            }
        </div>

    </section>
    
    <section>

        <div>
            <img class="decorative-header" src="/images/decorative-header.png" alt="decorative header"/>
        </div>

        <div>
            @foreach (var item in Model)
            {
                if (item.Attack == 0 && item.Ki == 0 && item.Defense == 0)
                {
                    <div>
                        <h3>@item.Name</h3>
                        <p>@item.Description</p>
                        <p>Price: @item.Price</p>
                        <div>
                            <form asp-action="Confirm" asp-controller="Shop" method="get">
                                <input type="hidden" name="itemId" value="@item.Id"/>
                                <button type="submit" class="btn btn-danger">Buy</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>

    </section>


</article>

@section Styles {
    <link href="@Url.Content("/css/Shop.css")" rel="stylesheet" type="text/css" />
}