@model ItemResult

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.Price</td>
    <td>@Model.Attack</td>
    <td>@Model.Fuel</td>
    <td>@Model.Defense</td>
    <td>@Model.ActionCooldownSeconds</td>
    <td>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
        <button class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="@Model.Id"
                data-name="@Model.Name"
                data-type="delete">
            Delete with modal
        </button>
    </td>
</tr>