@model NegativeGameEventResult

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.DefenseWithGearDescription</td>
    <td>@Model.DefenseWithoutGearDescription</td>
    <td>@Model.DefenseLoss</td>
    <td>@Model.Probability</td>
    <td class="test">
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">
            ~
        </a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">
            -
        </a>
    </td>
</tr>