@using Microsoft.IdentityModel.Tokens
@model PlayModel

@{
    ViewData["Title"] = "Game";
}
<nav>
    <div class="nav-left">
        <img class="dragonball" src="https://png.pngtree.com/png-vector/20221208/ourmid/pngtree-4-dragon-ball-icon-vector-drgon-illustrtion-png-image_6515607.png" alt="Spinning Dragon Ball">
    </div>
    <div class="nav-center">
        <ul>
            <li>
                <a asp-controller="Shop" asp-action="Index">
                    <img class="nav-img-s" src="/images/shop.png" alt="shop"/>
                </a>    
            </li>
            <li class="logo-container">
                <img class="logo" src="/images/logo.png" alt="logo">
            </li>
            <li>
                <a asp-controller="Game" asp-action="Leaderboard">
                    <img class="nav-img-l" src="/images/leaderboard.png" alt="leaderboard" />
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">
                <img class="nav-img" src="/images/logout.png" alt="Logout">
            </button>
        </form>
    </div>
</nav>

<article>
    <div class="left-side">
        <div>
            <img class="stats-img-l" src="/images/stats.png" alt="stats"/>
        </div>
        <div class="stats">
            @if (Model.PlayerResult != null)
            {
                <p class="name">@Model.PlayerResult.Name</p>
                <p><img src="/images/experience.png" alt="Experience" class="exp-icon"> @Model.PlayerResult.Experience</p>
                <p><img src="/images/zeni.png" alt="Zeni" class="zeni-icon"> @Model.PlayerResult.Zeni</p>
                <p><img src="/images/ki.png" alt="Ki" class="ki-icon"> @ViewData["Ki"]</p>
                <p><img src="/images/attack.png" alt="Attack" class="attack-icon"> @ViewData["Attack"]</p>
                <p><img src="/images/defense.png" alt="Defense" class="defense-icon"> @ViewData["Defence"]</p>
            }
        </div>
    </div>

    <div class="right-side">
        <div class="GameResults">
            @if (Model.GameResults != null)
            {
                @if (Model.GameResults.PositiveGameEvent != null && Model.GameResults.NegativeGameEvent == null)
                {
                    <h1>@Model.GameResults.PositiveGameEvent.Name</h1>
                    <h2>@Model.GameResults.PositiveGameEvent.Description</h2>
                    <p>The training earned @Model.GameResults.PositiveGameEvent.Zeni zeni</p>
                    <p>You also earned @Model.GameResults.PositiveGameEvent.Experience experience from this.</p>
                }
                else if (Model.GameResults.NegativeGameEvent != null)
                {
                    <h1>@Model.GameResults.NegativeGameEvent.Name</h1>
                    <h2>@Model.GameResults.NegativeGameEvent.Description</h2>
                    @if (Model.GameResults.NegativeGameEvent.DefenseLoss > Model.PlayerResult.CurrentDefensePlayerItem)
                    {
                        <p>A true Saiyan warrior wears his Saiyan Armor!, @Model.GameResults.NegativeGameEvent.DefenseWithGearDescription</p>
                        <p>Your armor gained @Model.GameResults.NegativeGameEvent.DefenseLoss cracks.</p>
                    }
                    else
                    {
                        <p>Who goes into battle or training without armor?, @Model.GameResults.NegativeGameEvent.DefenseWithoutGearDescription</p>
                        <p>You lost @Model.GameResults.NegativeGameEvent.DefenseLoss assets on defence, attack, or ki.</p>
                    }
                    <p>-------------------------------------</p>
                }
                @if (!Model.GameResults.EventMessages.IsNullOrEmpty())
                {
                    <h5>Notification:</h5>
                    @foreach (var msg in Model.GameResults.EventMessages)
                    {
                        <p>@msg.Message</p>
                    }
                }
            }

        </div>

        <div>
            <form id="performActionForm" asp-action="PerformAction" asp-controller="Game" method="post">
                <div class="buttons">
                    <button type="submit" class="button button-action">
                        <img class="nav-img" src="/images/train.png" alt="train">
                    </button>
                </div>
            </form>
        </div>
    </div>
</article>

@if (User.IsInRole("Admin"))
{
    <footer>
        <div class="footer">

            <a asp-action="Index" asp-controller="Players">
                <img class="player" src="/images/player.png" alt="player">
            </a>

            <a asp-action="Index" asp-controller="Items">
                <img class="item" src="/images/item.png" alt="item">
            </a>

            <a asp-action="Index" asp-controller="PositiveGameEvents">
                <img class="positive-event" src="/images/positive-event.png" alt="positive event">
            </a>

            <a asp-action="Index" asp-controller="NegativeGameEvents">
                <img class="negative-event" src="/images/negative-event.png" alt="negative event">
            </a>

        </div>
    </footer>
}

@section Styles {
    <link href="@Url.Content("/css/Game.css")" rel="stylesheet" type="text/css"/>
}

