@using Microsoft.IdentityModel.Tokens
@model PlayModel

@{
    ViewData["Title"] = "Game";
}
<nav>
    <div class="nav-left">
        <img class="dragonball" src="https://png.pngtree.com/png-vector/20221208/ourmid/pngtree-4-dragon-ball-icon-vector-drgon-illustrtion-png-image_6515607.png" alt="Spinning Dragon Ball">
    </div>
    <div class="nav-center">
        <ul>
            <li>
                <a asp-controller="Shop" asp-action="Index">
                    <img class="nav-img-s trans" src="/images/shop.png" alt="shop"/>
                </a>
            </li>
            <li class="logo-container">
                <img class="logo trans" src="/images/logo.png" alt="logo">
            </li>
            <li>
                <a asp-controller="Game" asp-action="Leaderboard">
                    <img class="nav-img-l trans" src="/images/leaderboard.png" alt="leaderboard"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">
                <img class="nav-img trans" src="/images/logout.png" alt="Logout">
            </button>
        </form>
    </div>
</nav>

<section id="howToPlaySection">

    <div class="howtoplayheader">
        <img class="howtoplay" src="/images/howtoplay.png" alt="how to play"/>
    </div>

    <div>
        <p class="howtoplaytext">
            You are a lost Saiyan that has stumbled on Earth. After noticing high power levels,
            you decide to go and see where the power is coming from. You land next to Capsule Corporation and attack Goku on sight.
            After a humiliating defeat, Goku offers to train you. Your goal is to get stronger and win against Goku!
            Beware, Goku is not the only one you will face. You will face many other events that will test your strength.

            <br/>
            <br/>

            You start training by clicking on the <img class="train-img" src="/images/train.png" alt="train"/> button.
            <br/>
            You can check your <img class="stats-img" src="/images/stats.png" alt="stats"/> to the left of the train section.
            <br/>
            You can also go to the <img class="shop-img" src="/images/shop.png" alt="shop"/> to buy items to make you stronger.
            <br/>
            See if you are the best? Check the <img class="leaderboard-img" src="/images/leaderboard.png" alt="leaderboard"/> to see where you stand!
        </p>
    </div>

</section>

<div>
    <button id="toggleButton" class="toggle-button" onclick="toggleSection()">
        &#9650;
    </button>
</div>

<article>
    <div class="left-side">
        <div>
            <img class="stats-img-l" src="/images/stats.png" alt="stats"/>
        </div>
        <div>
            @if (Model.PlayerResult != null)
            {
                <div class="stats">
                    <a asp-action="Edit" asp-controller="Game"><p class="name trans">@Model.PlayerResult.Name</p></a>
                    <div class="middle">
                        <a></a><p><img src="/images/experience.png" alt="experience" class="exp"> @Model.PlayerResult.Experience</p>
                        <p><img src="/images/zeni.png" alt="zeni" class="zeni"> @Model.PlayerResult.Zeni</p>
                        <p><img src="/images/tool.png" alt="tool" class="tool"> @ViewData["Attack"]</p>
                        <p><img src="/images/armor.png" alt="armor" class="armor"> @ViewData["Defense"]</p>
                        <p><img src="/images/food.png" alt="food" class="food"> @ViewData["Ki"]</p>
                    </div>
                </div>
                <div class="trans">
                    <a asp-controller="Game" asp-action="Inventory"><p><img src="/images/inventory.png" alt="Inventory" class="inventory-icon"></p></a>
                </div>
                @if(Model.PlayerResult.AttItemName != null)
                {
                    <p class="center-text"><img class="tool" src="/images/tool.png" alt="tool"/> @Model.PlayerResult.AttItemName</p>
                }
                else
                {
                    <p class="center-text">You don't have a tool</p>
                }
                @if(Model.PlayerResult.DefItemName != null)
                {
                    <p class="center-text"><img class="armor" src="/images/armor.png" alt="armor" /> @Model.PlayerResult.DefItemName</p>
                }
                else
                {
                    <p class="center-text">You don't have armor</p>
                }
                @if (Model.PlayerResult.KiItemName != null)
                {
                    <p class="center-text"><img class="food" src="/images/food.png" alt="food" /> @Model.PlayerResult.KiItemName</p>
                    
                }
                else
                {
                    <p class="center-text">You don't have food</p>
                }
            }
        </div>
    </div>

    <div class="right-side">
        <div class="game">
            @if (Model.GameResults != null)
            {
                @if (Model.GameResults.PositiveGameEvent != null && Model.GameResults.NegativeGameEvent == null)
                {
                    <h1>@Model.GameResults.PositiveGameEvent.Name</h1>
                    <h2>@Model.GameResults.PositiveGameEvent.Description</h2>
                    <p>The training earned @Model.GameResults.PositiveGameEvent.Zeni zeni</p>
                    <p>You also earned @Model.GameResults.PositiveGameEvent.Experience experience from this.</p>
                }
                else if (Model.GameResults.NegativeGameEvent != null)
                {
                    <h1>@Model.GameResults.NegativeGameEvent.Name</h1>
                    <h2>@Model.GameResults.NegativeGameEvent.Description</h2>
                    @if (Model.PlayerResult.CurrentDefensePlayerItem - Model.GameResults.NegativeGameEvent.DefenseLoss > 0)
                    {
                        <p>A true Saiyan warrior wears his Saiyan Armor!, @Model.GameResults.NegativeGameEvent.DefenseWithGearDescription</p>
                        <p>Your armor gained @Model.GameResults.NegativeGameEvent.DefenseLoss crack(s).</p>
                    }
                    else if (Model.PlayerResult.CurrentDefensePlayerItem - Model.GameResults.NegativeGameEvent.DefenseLoss == 0)
                    {
                        <p>A true Saiyan warrior wears his Saiyan Armor!, @Model.GameResults.NegativeGameEvent.DefenseWithGearDescription</p>
                        <p>Your armor has broken.</p>
                    }
                    else
                    {
                        <p class="witouthgear">Who goes into battle or training without armor?, @Model.GameResults.NegativeGameEvent.DefenseWithoutGearDescription</p>
                        <p>You lost @Model.GameResults.NegativeGameEvent.DefenseLoss assets on defence, attack, or ki.</p>
                    }
                }
                @if (!Model.GameResults.EventMessages.IsNullOrEmpty())
                {
                    <h5>Tip(s):</h5>
                    @foreach (var msg in Model.GameResults.EventMessages)
                    {
                        <p>@msg.Message</p>
                    }
                }
            }

        </div>

        <div>
            <form id="performActionForm" asp-action="PerformAction" asp-controller="Game" method="post">
                <div class="buttons">
                    <button type="submit" class="button button-action">
                        <img class="nav-img trans" src="/images/train.png" alt="train">
                    </button>
                </div>
            </form>
        </div>
    </div>
</article>

@if (User.IsInRole("Admin"))
{
    <footer>
        <div class="footer">

            <a asp-area="Admin" asp-action="Index" asp-controller="Players">
                <img class="player" src="/images/player.png" alt="player">
            </a>

            <a asp-area="Admin" asp-action="Index" asp-controller="Items">
                <img class="item" src="/images/item.png" alt="item">
            </a>

            <a asp-area="Admin" asp-action="Index" asp-controller="PositiveGameEvents">
                <img class="positive-event" src="/images/positive-event.png" alt="positive event">
            </a>

            <a asp-area="Admin" asp-action="Index" asp-controller="NegativeGameEvents">
                <img class="negative-event" src="/images/negative-event.png" alt="negative event">
            </a>

        </div>
    </footer>
}

@section Styles {
    <link href="@Url.Content("/css/Game.css")" rel="stylesheet" type="text/css"/>
}

@section Scripts {
    <script src="@Url.Content("/js/game.js")"></script>
}

